---
---

@import "{{ site.theme }}";

// Improve padding on list items.
ul li {
    padding: 5px 0px;
}

// When an image is displayed with a caption, center
// the caption and increase the vertical margin.
img+em {
    display: block;
    text-align: center;
    margin: 15px;
}

section img {
    max-width: 60%;
    min-width: 50%;
    // center the image
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen (max-width: 480px) {
    section img {
        max-width: 100%;
    }
}

.callout {
    // text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    margin: 15px 0;
}

// Same as above but with a slight green tint for examples
.callout-ex {
    // text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #273028;
    margin: 15px 0;
}
