---
---

@import "{{ site.theme }}";

// Improve padding on list items.
ul li {
    padding: 5px 0px;
}

// When an image is displayed with a caption, center
// the caption and increase the vertical margin.
img+em {
    display: block;
    text-align: center;
    margin: 15px;
}

section img {
    max-width: 60%;
    // center the image
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

// Same as above but without using flexbox.
.callout {
    // text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    margin: 15px 0;
}